<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Raleway:100,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/gumby.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/site.css">

    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="three columns site-logo">
        <a href="/" class="picto">  {% include coffee_maker.html %}</a>
        <a class="brand" href="/">LAZY <br><strong>ENTROPY</strong></a>

      </div>
    </div>
    <div class="row">
      <div class="three columns site-description">
        <p>Hi, my name is Antoine, I'm a web developer living in Nantes.</p>
        <p><a href="http://twitter.com/chevreuil">Twitter</a></p>
      </div>
      <div class="eight columns content">
        {{ content }}

      </div>
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
