---
layout: default
title: Lazy entropy
---

<section class="home posts">
  <!-- <h1>Blog Posts</h1> -->
  TODO : 
  <ul>
    <li>les double accolades n'apparaissent pas dans les highlights html !!</li>
    <li>penser à élargir le corps de l'article, les snippets de code sont trop peu lisibles</li>
  </ul>
  

  {% for post in site.posts %}
    <article>
        <time>{{ post.date | date_to_string }}</time> &raquo; 
        <a href="{{ post.url }}">{{ post.title }}
        {% if post.lang == "fr" %}
        <small>{% include french_flag.html %}</small>
        {% endif %}
        </a>
    </article>
  {% endfor %}
</section>
