// @import "typeplate.scss";

html { font-size: 18px; line-height: 1.625em; }
body
{

  .row 
  {
    padding: 0 20px;
  }

  h1 { font-size: 42px; font-size: 2.625rem; }

  h2 { font-size: 30px; font-size: 1.875rem; }

  .site-logo
  {
    padding: 12px;
    background-color: #c03d20;
    padding: 30px 15px;
    text-align: center; 
  }

  .site-description
  {
    background-color: #36414D; 
    color:#7891AD;
    padding: 27px 21px;
    a
    {
      color:#9EB4CC;
      &:hover
      {
        color:#CBDDF1;
        
      }
    }
  }


  .brand
  {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: block;
    margin-top: 7px;
    
  }

  .content
  {
    padding: 10px;
    h1
    {
      color: #D04526 
    }
  }

  pre code {
    display: block;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .coffee-maker {
    background-image: url(/img/coffee-maker.svg);
    display: inline-block;
    width: 55px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
  }

}